.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 0px;
    min-height: calc(100vh - 96px);

    .task-list-title {
        display: flex;
        align-items: center;
        height: 72px;
        font-size: 2rem;
        padding-bottom: 16px;
    }

    .task-list-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% - 200px);
        border-radius: 8px;
        padding: 8px 40px;
        margin-bottom: 16px;
    }

    .task-list-virtual-scroll {
        height: calc(100vh - 210px);
        width: calc(100% - 160px);
    }

    .task-list {
        max-width: 100%;
        min-height: 60px;
        display: block;
        border-radius: 4px;
        overflow: hidden;
    }

    .task-box:last-child {
        border: none;
    }

    .task-custom-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #c2185c70;
        border-radius: 8px;
        border: dotted 3px #424242;
        min-height: 24px;
        padding: 20px 10px;
        width: calc(100% - 40px);
        margin-left: 8px;
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .new-btn {
        font-size: 1.1rem;
        padding: 0px 8px;
    }

    .container-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .task-context-menu {
        margin-left: 8px;
    }

    .task-search {
        margin-right: 80px;
    }
}
