body {
    background-color: #303030;
}

// TODO revisar como utilizar estilo enquanto em estado de placeholder no drag n drop
.drag-icon {
    color: #ffffff;
    font-size: 30px;
    height: 30px !important;
    width: 30px !important;
    padding-right: 16px;
    cursor: move;
}