<div class="task-list-project">

    <h1 class="task-list-title">{{taskList?.name}}</h1>

    <mat-toolbar class="task-list-toolbar">

        <button mat-raised-button color="primary" (click)="createTask()">

            <mat-icon>add</mat-icon>

            <span class="new-btn">New</span>

        </button>

        <div class="container-row">

            <can-global-search class="task-search"></can-global-search>

            <button class="task-context-menu" mat-icon-button [matMenuTriggerFor]="menu1">

                <mat-icon>swap_vert</mat-icon>

            </button>

            <mat-menu #menu1="matMenu">

                <button mat-menu-item>

                    <span>Name</span>

                </button>

                <button mat-menu-item>

                    <span>Description</span>

                </button>

                <button mat-menu-item>

                    <span>Date</span>

                </button>

                <button mat-menu-item>

                    <span>Focus</span>

                </button>

            </mat-menu>

            <!-- <button class="task-context-menu" mat-icon-button [matMenuTriggerFor]="menu2">

                <mat-icon>filter_alt</mat-icon>

            </button> -->

            <mat-menu #menu2="matMenu">

                <!-- <button mat-menu-item>

                    <mat-icon>edit</mat-icon>

                    <span>Edit</span>

                </button> -->

            </mat-menu>

            <button class="task-context-menu" mat-icon-button [matMenuTriggerFor]="menu3">

                <mat-icon>settings</mat-icon>

            </button>

            <mat-menu #menu3="matMenu">

                <button mat-menu-item>

                    <mat-icon>edit</mat-icon>

                    <span>Edit</span>

                </button>

                <button mat-menu-item>

                    <mat-icon>delete</mat-icon>

                    <span>Delete</span>

                </button>

            </mat-menu>

        </div>

    </mat-toolbar>


    <cdk-virtual-scroll-viewport [itemSize]="60" class="task-list-virtual-scroll">

        <div cdkDropList class="task-list" (cdkDropListDropped)="drop($event)">

            <div *ngFor="let task of taskList?.tasks" cdkDrag>

                <div class="task-custom-placeholder" *cdkDragPlaceholder></div>

                <can-task-item [taskList]="taskList" [task]="task" (taskListEvent)="handleOutputEvent($event)">

                    <mat-icon class="drag-icon" cdkDragHandle>drag_indicator</mat-icon>

                </can-task-item>

            </div>


        </div>

    </cdk-virtual-scroll-viewport>

</div>