.alert-dialog {
    min-width: 240px;
    padding-top: 26px;
    margin-top: -24px;
    padding-left: 26px;
    margin-left: -24px;
    border-left: 6px solid #c2185b;

    h1 {
        width: 100%;
        text-align: center;
    }

    .buttons-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}
